<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean id="dog" class="spring.bean.Dog" init-method="initMethod">-->
        <!--<property name="name" value="dog"/>-->
        <!--<property name="speed" value="10"/>-->
    <!--</bean>-->

    <!--<bean id="myInstantiationBeanPostProcessor" class="spring.bean.MyInstantiationBeanPostProcessor"/>-->

    <!--<bean id="myPostBeanProcessor" class="spring.bean.MyPostBeanProcessor"/>-->

    <!--<bean id="horse" class="spring.bean.Horse">-->
        <!--<property name="name" value="horse"/>-->
        <!--<property name="speed" value="20"/>-->
    <!--</bean>-->

    <!--<bean id="person" class="spring.bean.Person">-->
        <!--<property name="pet" ref="dog"/>-->
    <!--</bean>-->

    <bean id="userManager" class="spring.bean.UserManager">
        <property name="dateValue">
            <value>2016-04-12</value>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
               <entry key="java.util.Date" value="spring.bean.DatePropertyEditor">
               </entry>
            </map>
        </property>
    </bean>

    <bean id="myBeanFactoryPostProcessor" class="spring.bean.MyBeanFactoryPostProcessor"/>

    <bean id="myBeanDefinitionRegistryPostProcessor" class="spring.bean.MyBeanDefinitionRegistryPostProcessor"/>

    <!--spring context listener-->
    <bean id="myListener" class="spring.bean.MyListener"/>

    <bean id="myLifecycleBean" class="spring.bean.MyLifecycleBean">
        <constructor-arg name="name" value="I am a LifecycleBean"/>
    </bean>
</beans>